In [1]:
import pandas as pd
from sqlalchemy import create_engine
from config import db_password

In [2]:
# Read mhcld-puf-2020-csv.csv 
mh1_data = "mhcld-puf-2020-csv.csv"
mh1_df = pd.read_csv(mh1_data)

In [3]:
# View DataFrame for mhcld-puf-2020-csv.csv
mh1_df.head()

,YEAR,AGE,EDUC,ETHNIC,RACE,GENDER,SPHSERVICE,CMPSERVICE,OPISERVICE,RTCSERVICE,...,ODDFLG,PDDFLG,PERSONFLG,SCHIZOFLG,ALCSUBFLG,OTHERDISFLG,STATEFIP,DIVISION,REGION,CASEID
0,2020,14,-9,4,3,1,1,1,1,2,...,0,0,0,1,0,0,1,6,3,20200000001
1,2020,1,2,4,1,1,2,1,2,2,...,0,0,0,0,0,1,1,6,3,20200000002
2,2020,6,-9,4,4,2,2,1,1,2,...,0,0,0,0,0,0,1,6,3,20200000003
3,2020,14,-9,4,3,2,1,1,2,2,...,0,0,0,1,0,0,1,6,3,20200000004
4,2020,13,-9,4,3,2,1,1,1,2,...,0,0,1,1,0,1,1,6,3,20200000005

In [4]:
# Check the datatypes of your columns
mh1_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6945521 entries, 0 to 6945520
Data columns (total 40 columns):
 #   Column       Dtype
---  ------       -----
 0   YEAR         int64
 1   AGE          int64
 2   EDUC         int64
 3   ETHNIC       int64
 4   RACE         int64
 5   GENDER       int64
 6   SPHSERVICE   int64
 7   CMPSERVICE   int64
 8   OPISERVICE   int64
 9   RTCSERVICE   int64
 10  IJSSERVICE   int64
 11  MH1          int64
 12  MH2          int64
 13  MH3          int64
 14  SUB          int64
 15  MARSTAT      int64
 16  SMISED       int64
 17  SAP          int64
 18  EMPLOY       int64
 19  DETNLF       int64
 20  VETERAN      int64
 21  LIVARAG      int64
 22  NUMMHS       int64
 23  TRAUSTREFLG  int64
 24  ANXIETYFLG   int64
 25  ADHDFLG      int64
 26  CONDUCTFLG   int64
 27  DELIRDEMFLG  int64
 28  BIPOLARFLG   int64
 29  DEPRESSFLG   int64
 30  ODDFLG       int64
 31  PDDFLG       int64
 32  PERSONFLG    int64
 33  SCHIZOFLG    int64
 34  ALCSUBFLG    int64
 35  OTHERDISFLG  int64
 36  STATEFIP     int64
 37  DIVISION     int64
 38  REGION       int64
 39  CASEID       int64
dtypes: int64(40)
memory usage: 2.1 GB

In [5]:
# Clean up mhcld-puf-2020-csv.csv to only have  State data
mh1_df.drop(columns=['EDUC', 'ETHNIC', 'RACE', 'SPHSERVICE', 'CMPSERVICE', 'OPISERVICE',
                        'RTCSERVICE', 'IJSSERVICE', 'MH2', 'MH3', 'SUB', 'MARSTAT','SMISED', 'SAP', 'EMPLOY',
                        'DETNLF', 'VETERAN', 'LIVARAG', 'NUMMHS', 'TRAUSTREFLG', 'ANXIETYFLG', 'ADHDFLG', 'CONDUCTFLG',
                        'DELIRDEMFLG', 'BIPOLARFLG', 'DEPRESSFLG', 'ODDFLG', 'PDDFLG', 'PERSONFLG', 'SCHIZOFLG', 'ALCSUBFLG',
                        'OTHERDISFLG','STATEFIP', 'DIVISION', 'REGION',])

         YEAR  AGE  GENDER  MH1       CASEID
0        2020   14       1    5  20200000001
1        2020    1       1   13  20200000002
2        2020    6       2    6  20200000003
3        2020   14       2   11  20200000004
4        2020   13       2   11  20200000005
...       ...  ...     ...  ...          ...
6945516  2020    6       1   11  20206945517
6945517  2020   12       1   12  20206945518
6945518  2020    4       1    7  20206945519
6945519  2020    7       1   12  20206945520
6945520  2020   10       2   12  20206945521

[6945521 rows x 5 columns]

In [7]:
# Rename DataFrame
clean_mh1_data_df=pd.DataFrame(mh1_df, columns=['YEAR','AGE', 'GENDER', 'MH1', 'CASEID'])
clean_mh1_data_df.head()

   YEAR  AGE  GENDER  MH1       CASEID
0  2020   14       1    5  20200000001
1  2020    1       1   13  20200000002
2  2020    6       2    6  20200000003
3  2020   14       2   11  20200000004
4  2020   13       2   11  20200000005

In [8]:
# Save DataFrame as a new file
clean_mh1_data_df.to_csv('MH1_Data.csv')

In [9]:
# Read MentalHealth_StateData.csv 
clean_mh1_data = "MH1_Data.csv"
clean_mh1_df = pd.read_csv(clean_mh1_data)

In [10]:
# Convert columns STATEIP, DIVISION and REGION from int64 to string
clean_mh1_data_df['MH1']=clean_mh1_data_df['MH1'].map(str)

In [11]:
# Convert MH1 from numbers to diagnosis
clean_mh1_data_df['MH1']=clean_mh1_data_df['MH1'].replace(['1'], 'Trauma and Stress')
clean_mh1_data_df['MH1']=clean_mh1_data_df['MH1'].replace(['2'], 'Anxiety')
clean_mh1_data_df['MH1']=clean_mh1_data_df['MH1'].replace(['3'], 'ADHD')
clean_mh1_data_df['MH1']=clean_mh1_data_df['MH1'].replace(['4'], 'Conduct')
clean_mh1_data_df['MH1']=clean_mh1_data_df['MH1'].replace(['5'], 'Delirium, Dementia')
clean_mh1_data_df['MH1']=clean_mh1_data_df['MH1'].replace(['6'], 'Bipolar')
clean_mh1_data_df['MH1']=clean_mh1_data_df['MH1'].replace(['7'], 'Depressive')
clean_mh1_data_df['MH1']=clean_mh1_data_df['MH1'].replace(['8'], 'Oppositional Defiant ')
clean_mh1_data_df['MH1']=clean_mh1_data_df['MH1'].replace(['9'], 'Pevassive Developmental')
clean_mh1_data_df['MH1']=clean_mh1_data_df['MH1'].replace(['10'], 'Personality')
clean_mh1_data_df['MH1']=clean_mh1_data_df['MH1'].replace(['11'], 'Schizophrenia')
clean_mh1_data_df['MH1']=clean_mh1_data_df['MH1'].replace(['12'], 'Alcohol or Substance')
clean_mh1_data_df['MH1']=clean_mh1_data_df['MH1'].replace(['13'], 'Other')
clean_mh1_data_df['MH1']=clean_mh1_data_df['MH1'].replace(['-9'], 'Unknown or Deferred')

In [12]:
# View DataFram mh_state_data.df
clean_mh1_data_df

         YEAR  AGE  GENDER                   MH1       CASEID
0        2020   14       1    Delirium, Dementia  20200000001
1        2020    1       1                 Other  20200000002
2        2020    6       2               Bipolar  20200000003
3        2020   14       2         Schizophrenia  20200000004
4        2020   13       2         Schizophrenia  20200000005
...       ...  ...     ...                   ...          ...
6945516  2020    6       1         Schizophrenia  20206945517
6945517  2020   12       1  Alcohol or Substance  20206945518
6945518  2020    4       1            Depressive  20206945519
6945519  2020    7       1  Alcohol or Substance  20206945520
6945520  2020   10       2  Alcohol or Substance  20206945521

[6945521 rows x 5 columns]

In [13]:
# Save DataFrame as a new file
clean_mh1_data_df.to_csv('MH1_Data.csv')

In [14]:
# Create connection to PostgresSQL password and import in 1st cell
db_string= db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Team_Moon"
engine = create_engine(db_string)

In [15]:
# Import clean_mh_state_data_df to sql table
clean_mh1_data_df.to_sql(name='MH1_Data', if_exists='replace', con=engine)
rows_imported = 0