In [1]:
import pandas as pd

In [2]:
# Read mhcld-puf-2020-csv.csv 
mh_state_data = "mhcld-puf-2020-csv.csv"
mh_state_df = pd.read_csv(mh_state_data)

In [3]:
# View DataFrame for mhcld-puf-2020-csv.csv
mh_state_df.head()

,YEAR,AGE,EDUC,ETHNIC,RACE,GENDER,SPHSERVICE,CMPSERVICE,OPISERVICE,RTCSERVICE,...,ODDFLG,PDDFLG,PERSONFLG,SCHIZOFLG,ALCSUBFLG,OTHERDISFLG,STATEFIP,DIVISION,REGION,CASEID
0,2020,14,-9,4,3,1,1,1,1,2,...,0,0,0,1,0,0,1,6,3,20200000001
1,2020,1,2,4,1,1,2,1,2,2,...,0,0,0,0,0,1,1,6,3,20200000002
2,2020,6,-9,4,4,2,2,1,1,2,...,0,0,0,0,0,0,1,6,3,20200000003
3,2020,14,-9,4,3,2,1,1,2,2,...,0,0,0,1,0,0,1,6,3,20200000004
4,2020,13,-9,4,3,2,1,1,1,2,...,0,0,1,1,0,1,1,6,3,20200000005

In [4]:
# Check the datatypes of your columns
mh_state_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6945521 entries, 0 to 6945520
Data columns (total 40 columns):
 #   Column       Dtype
---  ------       -----
 0   YEAR         int64
 1   AGE          int64
 2   EDUC         int64
 3   ETHNIC       int64
 4   RACE         int64
 5   GENDER       int64
 6   SPHSERVICE   int64
 7   CMPSERVICE   int64
 8   OPISERVICE   int64
 9   RTCSERVICE   int64
 10  IJSSERVICE   int64
 11  MH1          int64
 12  MH2          int64
 13  MH3          int64
 14  SUB          int64
 15  MARSTAT      int64
 16  SMISED       int64
 17  SAP          int64
 18  EMPLOY       int64
 19  DETNLF       int64
 20  VETERAN      int64
 21  LIVARAG      int64
 22  NUMMHS       int64
 23  TRAUSTREFLG  int64
 24  ANXIETYFLG   int64
 25  ADHDFLG      int64
 26  CONDUCTFLG   int64
 27  DELIRDEMFLG  int64
 28  BIPOLARFLG   int64
 29  DEPRESSFLG   int64
 30  ODDFLG       int64
 31  PDDFLG       int64
 32  PERSONFLG    int64
 33  SCHIZOFLG    int64
 34  ALCSUBFLG    int64
 35  OTHERDISFLG  int64
 36  STATEFIP     int64
 37  DIVISION     int64
 38  REGION       int64
 39  CASEID       int64
dtypes: int64(40)
memory usage: 2.1 GB

In [11]:
# Clean up mhcld-puf-2020-csv.csv to only have  State data
mh_state_df.drop(columns=['EDUC', 'ETHNIC', 'RACE', 'GENDER', 'SPHSERVICE', 'CMPSERVICE', 'OPISERVICE',
                        'RTCSERVICE', 'IJSSERVICE', 'MH1', 'MH2', 'MH3', 'SUB', 'MARSTAT','SMISED', 'SAP', 'EMPLOY',
                        'DETNLF', 'VETERAN', 'LIVARAG', 'NUMMHS', 'TRAUSTREFLG', 'ANXIETYFLG', 'ADHDFLG', 'CONDUCTFLG',
                        'DELIRDEMFLG', 'BIPOLARFLG', 'DEPRESSFLG', 'ODDFLG', 'PDDFLG', 'PERSONFLG', 'SCHIZOFLG', 'ALCSUBFLG',
                        'OTHERDISFLG'])

         YEAR  AGE  STATEFIP  DIVISION  REGION       CASEID
0        2020   14         1         6       3  20200000001
1        2020    1         1         6       3  20200000002
2        2020    6         1         6       3  20200000003
3        2020   14         1         6       3  20200000004
4        2020   13         1         6       3  20200000005
...       ...  ...       ...       ...     ...          ...
6945516  2020    6        72         0       0  20206945517
6945517  2020   12        72         0       0  20206945518
6945518  2020    4        72         0       0  20206945519
6945519  2020    7        72         0       0  20206945520
6945520  2020   10        72         0       0  20206945521

[6945521 rows x 6 columns]

In [ ]:
# Save DataFrame as a new file

In [ ]:
# Convert columns STATEIP, DIVISION and REGION from int64 to string